<div class="centering-container">
  <div class="centering-column">
    <h2>❤ ❤ ❤</h2>
    <img src="assets/dummy.png" alt="Malerweg" class="image"/>
    <p class="explain-text">
      Weil die bezaubernde Rede so ein geringer Aufwand war haben wir uns entschieden, eure Regel zu brechen und euch
      trotzdem noch etwas zu schenken.
    </p>
    <p>❗ Aber freut euch nicht zu früh ❗</p>
    <p>❓ Um es zu erreichen, müsst ihr ein paar knackige Fragen beantworten ❓</p>
    <div class="centering-container">
      <a mat-raised-button color="primary" [routerLink]="['/quiz']">Zum Quiz</a>
    </div>
  </div>
</div>
