<div class="centering-container">
  <div class="centering-column">
    <h2>❤ ❤ ❤</h2>
      <img src="assets/intro.jpeg" alt="Intro" class="image"/>
    <p class="explain-text">
      In eurem Reise-Gästebuch findet ihr von jetzt an viel Inspiration für eure nächsten Reisen. Um die Reisekasse ein bisschen zu füllen, findet ihr in dieser Schatzkiste ein paar Goldstücke.
    </p>
    <p>❗❗ Aber freut euch nicht zu früh ❗❗</p>
    <p>❓ Um den Schatz zu bekommen, müsst ihr ein paar knackige Fragen beantworten ❓</p>
    <div class="centering-container">
      <a mat-raised-button color="primary" [routerLink]="['/quiz']">Zum Quiz</a>
    </div>
  </div>
</div>
