.centering-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centering-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 80%;
}

.explain-text {
  margin-top: 5vh;
}

