<mat-card>
  <div class="title-container">
    <mat-card-title>{{ step.title }}</mat-card-title>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>{{ step.question }}</p>
    <mat-radio-group [(ngModel)]="selectedAnswer">
      <div class="radio-button-list">
        <mat-radio-button *ngFor="let answer of step.answers" [value]="answer">
          {{ answer.text }}
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-actions class="button-container">
    <button mat-button matStepperPrevious>Zurück</button>
    <button mat-button matStepperNext [disabled]="!selectedAnswer?.isCorrect">Nächste</button>
  </mat-card-actions>
</mat-card>
