.answers {
  list-style-type: none;
  padding-left: 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.radio-button-list {
  display: flex;
  flex-direction: column;
}

.centering-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-step-header:hover:not([aria-disabled]), .mat-step-header:hover[aria-disabled=false] {
  background-color: transparent !important;
  box-shadow: none !important;
}

.image {
  max-width: 80%;
}

.top-space {
  margin-top: 1vh;
}
