<div class="centering-container">
  <div class="centering-column">
    <h2>🎉 Herzlichen Glückwunsch 🎉</h2>
    <img src="assets/success.jpg" alt="Malerweg" class="image"/>
    <p class="explain-text">
      Entgegen unserer Erwartungen habt ihr es doch geschafft und alle unsere Fragen beantwortet 😢</p>
    <p>Na gut, dann schenken wir euch eben eine mehrtägige Wandertour in der sächsischen Schweiz, inklusive
      Übernachtung!</p>
    <p>Sucht euch einen Termin aus und hyped euch mit dem Link auf 👇</p>
    <div class="full-width">
      <ul>
        <li>24.4. - 29.4.</li>
        <li>8.5. - 13.5.</li>
        <li>22.5. - 27.5.</li>
        <li>3.7. - 8.7.</li>
      </ul>
    </div>
    <div class="centering-container">
      <a mat-raised-button color="primary" target="_blank" href="https://www.saechsische-schweiz.de/malerweg/">Zum
        Malerweg</a>
    </div>
  </div>
</div>
